<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Set99</a>
  </nav>
<div class="container mt-5">
<h4>Describe tu entorno <small> ... </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar( forma )" #forma="ngForm">

  <div>


 <div class="form-group row">
  <label class="col-2 col-form-label"></label>
  <div class="col-8">
    <div class="container">
      <div class="cuadro">
        <h1 class="centrar"></h1>
          <ul class="ks-cboxtags">
              <!--Deje algunos seleccionados para que veas como fucniona (Checked)-->
              <li><input type="checkbox" id="checkboxUno" name="Renta1" value="Renta" [ngModel]="usuario.Cinco_mil_renta"><label for="checkboxUno">5K renta</label></li>
              <li><input type="checkbox" id="checkboxDos" name="Renta2" value="Renta" [ngModel]="usuario.Nueve_mil_renta"><label for="checkboxDos">9K renta</label></li>
              <li><input type="checkbox" id="checkboxTres" name="Renta3" value="Renta" [ngModel]="usuario.treinta_mil_renta" ><label for="checkboxTres">30K renta</label></li>
              <li><input type="checkbox" id="checkboxCuatro"name="Renta4" value="Renta" [ngModel]="usuario.setenta_mil_renta"><label for="checkboxCuatro">70K renta</label></li>
              <li><input type="checkbox" id="checkboxCinco" name="Renta5" value="Renta" [ngModel]="usuario.punto_15_M_renta"><label for="checkboxCinco">.15M renta</label></li>
              <li><input type="checkbox" id="checkboxSeis" name="Renta6" value="Renta" [ngModel]="usuario.punto_35_M_renta" ><label for="checkboxSeis">.35M renta</label></li>
              <li><input type="checkbox" id="checkboxSiete" name="Renta7" value="Renta" [ngModel]="usuario.punto_70_M_renta"><label for="checkboxSiete">.70M renta</label></li>
              <li><input type="checkbox" id="checkboxOcho" name="Renta8" value="Renta" [ngModel]="usuario.punto_9_M_mas_renta"><label for="checkboxOcho">.9M renta</label></li>
              <li><input type="checkbox" id="checkboxNueve" name="Monedauno_MX" value="Monedauno" [ngModel]="usuario.Monedauno_MX" ><label for="checkboxNueve">$ MX</label></li>
              <li><input type="checkbox" id="checkboxDiez" name="Monedados_US" value="Monedados" [ngModel]="usuario.Monedados_US"><label for="checkboxDiez">$ US</label></li>
              <li><input type="checkbox" id="checkboxOnce" name="Monedatres_EURO" value="Monedatres" [ngModel]="usuario.Monedatres_Euro"><label for="checkboxOnce">$ €</label></li>
              <li><input type="checkbox" id="checkboxventaUno" name="Venta1" value="Venta" [ngModel]="usuario.Venta_punto_5M"><label for="checkboxventaUno">.5 venta</label></li>
              <li><input type="checkbox" id="checkboxventaDos" name="Venta2" value="Venta" [ngModel]="usuario.Venta_1_punto_1_M"><label for="checkboxventaDos">1.1M venta</label></li>
              <li><input type="checkbox" id="checkboxventaTres" name="Venta3" value="Venta" [ngModel]="usuario.Venta_2_punto_5_M" ><label for="checkboxventaTres">2.5M venta</label></li>
              <li><input type="checkbox" id="checkboxventaCuatro"name="Venta4" value="Venta" [ngModel]="usuario.Venta_6M"><label for="checkboxventaCuatro">6M venta</label></li>
              <li><input type="checkbox" id="checkboxventaCinco" name="Venta5" value="Venta" [ngModel]="usuario.Venta_15M"><label for="checkboxventaCinco">15M venta</label></li>
              <li><input type="checkbox" id="checkboxventaSeis" name="Venta6" value="Venta" [ngModel]="usuario.Venta_50M" ><label for="checkboxventaSeis">50M venta</label></li>
              <li><input type="checkbox" id="checkboxventaSiete" name="Venta7" value="Venta" [ngModel]="usuario.Venta_150M"><label for="checkboxventaSiete">150M venta</label></li>
              <li><input type="checkbox" id="checkboxventaOcho" name="Venta8" value="Venta" [ngModel]="usuario.Venta_500M"><label for="checkboxventaOcho">500M venta</label></li>
              <li><input type="checkbox" id="checkboxventabañoUno" name="Baño1" value="Clasifica" [ngModel]="usuario.Banos_3"><label for="checkboxventabañoUno">3 baños</label></li>
              <li><input type="checkbox" id="checkboxventabañoDos" name="Baño2" value="Clasifica" [ngModel]="usuario.Banos_5"><label for="checkboxventabañoDos">5 baños</label></li>
              <li><input type="checkbox" id="checkboxventabañoTres" name="Baño3" value="Clasifica" [ngModel]="usuario.Banos_9_o_mas" ><label for="checkboxventabañoTres"> 9+ baños</label></li>
              <li><input type="checkbox" id="checkboxventahabitacionCuatro"name="Habitacion1" value="Clasifica" [ngModel]="usuario.Habitaciones_3"><label for="checkboxventahabitacionCuatro">3 habitaciones</label></li>
              <li><input type="checkbox" id="checkboxventahabitacionCinco" name="Habitacion2" value="Clasifica" [ngModel]="usuario.Habitaciones_5"><label for="checkboxventahanitacionCinco">5 habitaciones</label></li>
              <li><input type="checkbox" id="checkboxventahabitacionSeis" name="Habitacion3" value="Clasifica" [ngModel]="usuario.Habitaciones_9_o_mas" ><label for="checkboxventahabitacionSeis">9+ habitaciones</label></li>
            </ul>
      </div>
  </div>
<hr>







 </div>
</div>
 
    
    
  
  


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8" >
      <button type="submit"  class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>


</div>