<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Set99</a>
  </nav>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Productos</h1>
  <p class="lead">Empresa dedicada a bienes raices</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Broker99 <small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink=''>Sign up for free</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Free99 <small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>20 users included</li>
          
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" routerLink=''>Get started</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Exclusive99<small class="text-muted"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 users included</li>
          
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" routerLink=''>Contact us</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Gold99 <small class="text-muted"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink=''>Sign up for free</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Diamond99 <small class="text-muted"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 users included</li>
            
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary" routerLink=''>Get started</button>
        </div>
      </div>
    </div>