<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Set99</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Contacto</a> 
      </li>
    </ul>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">¿Que es lo que hacemos?</a> 
        </li>
      </ul>
    </nav>
<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner" class="container mt-5"> 
          <h3 class="masthead-brand"></h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="#"></a>
            <a class="nav-link" href="#"></a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Agencia inmobiliaria</h1>
        <p class="lead">Texto libre</p>
        <button type="button" class="btn btn-info" routerLink='/login'>Iniciar sesion</button> /
        <button type="button" class="btn btn-info" routerLink='/registro'>Resistrarse</button>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
</div>
</footer>
</div>
</body>


   