<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Set99</a>
  </nav>
  <div class="class=container mt-5"></div>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">¡Bien hecho!</h4>
  <p>Ha quedado registrado tu inmueble, te estara llegando una confirmacion a tu correo para validar el papel del convenio</p>
  <hr>
  <p class="mb-0">Gracias por la confianza</p>
</div>
  <button type="button" class="btn-lg btn-block btn btn-outline-success" routerLink="/home">Continuar</button>
